# Xcode
!**/*.xcodeproj
!**/*.pbxproj
!**/*.xcworkspacedata
!**/*.xcsettings
!**/*.xcscheme
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
**/.xcode.env.local

# Gradle
/build/
/packages/react-native-gradle-plugin/build/
/packages/rn-tester/build
/packages/rn-tester/android/app/.cxx/
/packages/rn-tester/android/app/build/
/packages/rn-tester/android/app/gradle/
/packages/rn-tester/android/app/gradlew
/packages/rn-tester/android/app/gradlew.bat
/packages/react-native/ReactAndroid/build/
/packages/react-native/ReactAndroid/.cxx/
/packages/react-native/ReactAndroid/gradle/
/packages/react-native/ReactAndroid/gradlew
/packages/react-native/ReactAndroid/gradlew.bat
/packages/react-native/ReactAndroid/external-artifacts/build/
/packages/react-native/ReactAndroid/external-artifacts/artifacts/
/packages/react-native/ReactAndroid/hermes-engine/build/
/packages/react-native/ReactAndroid/hermes-engine/.cxx/
/packages/react-native/template/android/app/build/
/packages/react-native/template/android/build/

# Buck
.buckd
buck-out
/.lsp.buckd
/.lsp-buck-out
/packages/react-native/ReactAndroid/src/main/jni/prebuilt/lib/
/packages/react-native/ReactAndroid/src/main/gen
/.cpplsp.buckd

# Android Studio
.project
.settings
.classpath

# Watchman
.watchmanconfig

# Android
.idea
.gradle
local.properties
*.iml
/packages/react-native/android/*
!/packages/react-native/android/README.md

# Node
node_modules
*.log
.nvm
package-lock.json

# OS X
.DS_Store

# Test generated files
/packages/react-native/ReactAndroid/src/androidTest/assets/AndroidTestBundle.js
*.js.meta

/coverage
/third-party

# Test Reports
/reports

# Stack Dumps generated when programs crash (Ex. bash.exe.stackdump on Win)
*.stackdump

# Root dir shouldn't have Xcode project
/*.xcodeproj

# ReactCommon subdir shouldn't have Xcode project
/packages/react-native/ReactCommon/**/*.xcodeproj

# Libs that shouldn't have Xcode project
/packages/react-native/Libraries/FBLazyVector/**/*.xcodeproj
/packages/react-native/Libraries/Required/**/*.xcodeproj
/packages/react-native/React/CoreModules/**/*.xcodeproj
/packages/react-native/React/FBReactNativeSpec/**/*.xcodeproj
/packages/react-native-codegen/**/*.xcodeproj
/packages/rn-tester/**/*.xcodeproj

# Ruby Gems (Bundler)
/packages/react-native/vendor
/packages/react-native/template/vendor
.ruby-version
/**/.ruby-version
vendor/

# iOS / CocoaPods
/packages/react-native/template/ios/build/
/packages/react-native/template/ios/Pods/
/packages/react-native/template/ios/Podfile.lock
/packages/rn-tester/Gemfile.lock
/packages/**/RCTLegacyInteropComponents.mm

# Ignore RNTester specific Pods, but keep the __offline_mirrors__ here.
/packages/rn-tester/Pods/*
!/packages/rn-tester/Pods/__offline_mirrors_hermes__
!/packages/rn-tester/Pods/__offline_mirrors_jsc__

# @react-native/codegen
/packages/react-native/React/FBReactNativeSpec/FBReactNativeSpec
/packages/react-native-codegen/lib
/packages/react-native-codegen/tmp/
/packages/react-native/ReactCommon/react/renderer/components/rncore/
/packages/rn-tester/NativeModuleExample/ScreenshotManagerSpec*
/**/RCTThirdPartyFabricComponentsProvider.*

# @react-native/codegen-typescript-test
/packages/react-native-codegen-typescript-test/lib

# Additional SDKs
/packages/react-native/sdks/download
/packages/react-native/sdks/hermes
/packages/react-native/sdks/hermesc
/packages/react-native/sdks/hermes-engine/hermes-engine-from-local-source-dir.tar.gz

# Visual studio
.vscode
.vs

# Android memory profiler files
*.hprof

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# E2E files
/packages/rn-tester-e2e/apps/*.apk
/packages/rn-tester-e2e/apps/*.app

# CircleCI
.circleci/generated_config.yml
ios/
android/
.eslintrc.js
.prettierrc.js
app.json
App.tsx
auth0-configuration.js
babel.config.js
Gemfile
Gemfile.lock
index.js
jest.config.js
LICENSE
Main.tsx
metro.config.js
package.json
private_key.pepk
react-native.config.js
README.md
.bundle/config
__mocks__/mockFirebase.js
__tests__/Welcome.test.tsx
jest/setup.js
patches/react-native-vector-icons+9.2.0.patch
src/api/index.ts
src/assets/color.ts
src/assets/GlobalStyles.ts
src/assets/index.js
src/assets/fonts/Kenia-Regular.ttf
src/assets/fonts/LilitaOne-Regular.ttf
src/assets/fonts/Montserrat-Black.ttf
src/assets/fonts/Montserrat-BlackItalic.ttf
src/assets/fonts/Montserrat-Bold.ttf
src/assets/fonts/Montserrat-BoldItalic.ttf
src/assets/fonts/Montserrat-ExtraBold.ttf
src/assets/fonts/Montserrat-ExtraBoldItalic.ttf
src/assets/fonts/Montserrat-ExtraLight.ttf
src/assets/fonts/Montserrat-ExtraLightItalic.ttf
src/assets/fonts/Montserrat-Italic.ttf
src/assets/fonts/Montserrat-Light.ttf
src/assets/fonts/Montserrat-LightItalic.ttf
src/assets/fonts/Montserrat-Medium.ttf
src/assets/fonts/Montserrat-MediumItalic.ttf
src/assets/fonts/Montserrat-Regular.ttf
src/assets/fonts/Montserrat-SemiBold.ttf
src/assets/fonts/Montserrat-SemiBoldItalic.ttf
src/assets/fonts/Montserrat-Thin.ttf
src/assets/fonts/Montserrat-ThinItalic.ttf
src/assets/fonts/Skranji-Bold.ttf
src/assets/fonts/Skranji-Regular.ttf
src/assets/images/a.png
src/assets/images/arrowright3x.png
src/assets/images/box_fun.png
src/assets/images/collect_money.png
src/assets/images/collect_money.svg
src/assets/images/default.png
src/assets/images/dollarsign3x.png
src/assets/images/ellipse-33x.png
src/assets/images/ellipse13x.png
src/assets/images/explore.png
src/assets/images/explore.svg
src/assets/images/funding.jpg
src/assets/images/group-notification3x.png
src/assets/images/home3x.png
src/assets/images/imagesitem13x.png
src/assets/images/imagesitem23x.png
src/assets/images/imagesitem33x.png
src/assets/images/imagesitem3x.png
src/assets/images/index.js
src/assets/images/logo.png
src/assets/images/messagecircle3x.png
src/assets/images/pro.png
src/assets/images/Screenshot 2023-07-16 at 12.27.34 AM.png
src/assets/images/search3x.png
src/assets/images/share_with_friend.png
src/assets/images/share_with_friend.svg
src/assets/images/shoppingcart3x.png
src/assets/images/status-bar3x.png
src/assets/images/tell_story.png
src/assets/images/tell_story.svg
src/assets/images/user3x.png
src/assets/images/vector3x.png
src/assets/lang/index.tsx
src/component/Category.tsx
src/component/CustomHeader.tsx
src/component/ItemDonation.tsx
src/component/ItemDonationUser.tsx
src/component/ItemDonationVertical.tsx
src/component/ItemUser.tsx
src/component/SearchBar.tsx
src/component/UserCommentItem.tsx
src/component/UserDonation.tsx
src/component/UserModalList.tsx
src/component/atom/CustomButton.tsx
src/component/atom/CustomDialog.tsx
src/component/atom/CustomImage.tsx
src/component/atom/CustomProgressBar.tsx
src/component/atom/CustomSeparator.tsx
src/component/atom/CustomText.tsx
src/component/atom/CustomView.tsx
src/component/atom/EmptyComponent.tsx
src/component/atom/ListItem.tsx
src/component/atom/NotificationIcon.tsx
src/component/atom/TextAreaInput.tsx
src/component/atom/__test__/CustomButton.test.tsx
src/component/atom/__test__/CustomDialog.test.tsx
src/component/atom/__test__/CustomProgressBar.test.tsx
src/component/atom/__test__/TextAreaInput.test.tsx
src/component/HOC/ActionSheet.tsx
src/component/HOC/CustomAlert.tsx
src/component/HOC/Loading.tsx
src/component/HOC/RefreshLoading.tsx
src/component/HOC/ThankYou.tsx
src/component/HOC/Toast.tsx
src/context/AuthContext.tsx
src/context/FundingContext.tsx
src/context/LanguageContext.tsx
src/mock/feeds.js
src/navigations/Auth.tsx
src/navigations/MainNavigation.tsx
src/screens/Build.tsx
src/screens/Welcome.tsx
src/screens/auth/Login.tsx
src/screens/auth/PhoneLogin.tsx
src/screens/create/Create.tsx
src/screens/create/EditProject.tsx
src/screens/create/Location-SP1.tsx
src/screens/create/RaisingAmount-SP2.tsx
src/screens/create/RaisingConfirmation.tsx
src/screens/create/RaisingMedia.tsx
src/screens/create/RaisingStorySP3.tsx
src/screens/favoris/Favorite.tsx
src/screens/feed/AllFundRasing.tsx
src/screens/feed/Feed.tsx
src/screens/feed/FeedDetails.tsx
src/screens/feed/FeedsStyle.tsx
src/screens/feed/PaymentForm.tsx
src/screens/feed/ProjectHistory.tsx
src/screens/feed/RenflouerAccountComponent.tsx
src/screens/feed/Search.tsx
src/screens/manage/ManageDetail.tsx
src/screens/manage/ManageDonation.tsx
src/screens/manage/ManageMoncash.tsx
src/screens/manage/ManageOptions.tsx
src/screens/manage/MangeFundrasing.tsx
src/screens/manage/MangeKindWord.tsx
src/screens/manage/MoncashPaymentRegister.tsx
src/screens/manage/UserPaymentMoncash.tsx
src/screens/messages/Message.tsx
src/screens/messages/MessageDetails.tsx
src/screens/onboarding/Onboarding.tsx
src/screens/onboarding/Slide.tsx
src/screens/payment/CashProcessComponent.tsx
src/screens/profile/Profile.tsx
src/screens/profile/ProfileEdit.tsx
src/types/Index.ts
src/utils/hash.ts
src/utils/isNullOrEmpty.ts
